#test-block,#demo-block,.msg,#type-block{
  display: none;
}

label.radio{
	cursor: pointer;
}

html,body{
  width: 100%;
}
.item{
  padding-bottom: 50px;
}
.carousel-control {
  z-index:11;
}

.img-foto{
	margin:0 auto;
	width: 100%;
}